/*sección "contacto"*/
.parrafo-contacto {
    text-align: center;
    font-size: 20px;
}
.opciones-contacto{
    margin: 30px;
}
.section-contacto{
    display: flex;
    justify-content: space-evenly;
}
.input-mensaje input{
    width: 300px;
    height: 200px;
}

@media (max-width: 500px){

    .section-contacto{
        flex-direction: column;
        text-align: center;
        }
}