.mapa {
    padding: 0;
}

@media (max-width: 500px) {


    #mapa-la-plata {
        width: 100%;
        height: 100%;

    }

    #mapa-city-bell {
        width: 100%;
        height: 100%;
    }

}