.menu-productos {
    text-align: center;

}

.menu-productos img {
    width: 200px;
}

.uno {
    max-width: 800px;
}

.dos {
    max-width: 800px;
}

.tres {
    max-width: 800px;
}

.titulo-productos {
    margin: 30px;
}