@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


input{
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border-color: $violeta;
}

input:focus{
    color: $violeta;
}

body {
    background-color: $verde;
    font-family: 'Oswald', sans-serif;

}
/*main*/

main {
    background-color: rgb(252, 252, 237);
    color: $verde;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px;
}

@media (max-width: 500px) {

    .logo{ 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }

    .navbar-toggler{
        background-color: $violeta;
        border-color: $violeta;
        margin: 5px;
    }

}

